@model SlidableLive.Models.Shows.ShowListViewModel

@{
    ViewBag.Title = "Shows";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <h2>Shows matching @Model.Tag:</h2>
        @foreach (var show in Model.Shows)
        {
            <div class="card">
                <h3 class="card-title">@show.Title</h3>
                <h4 class="card-subtitle">@show.Presenter at @show.Place</h4>
                <a asp-controller="Live" asp-action="Show" asp-route-presenter="@show.Presenter" asp-route-slug="@show.Slug"
                   class="btn btn-outline-primary">Join</a>
            </div>
        }
    </div>
</div>
